.post-title {
  font-size: 50px;
}

.post-button {
}

.post-parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.post-child {
  flex: 1 0 600px;
  border-style: solid;
  border-width: 5px;
  margin: 20px 20px;
  padding: 20px 20px;
}

// .btn {
//   background-color: red;
// }
//
// .btn:hover {
//   background-color: black;
// }
