<div class="background">
    <div class="content">
        <h1>HEY LOOK, IT'S EVERY BOOTSTRAP WEBSITE EVER</h1>
        <h4>Take a look around at the same fucking bootstrap page you've seen ten million times before! Featuring all the same things as those pages!</h4>
    </div>
</div>

<div class="background2">
</div>
